$arb-transparent: var(--arb-transparent);
$arb-primaryColor: var(--arb-primaryColor) ;
$arb-primaryLogo: var(--arb-primaryLogo);
$arb-secondaryColor: var(--arb-secondaryColor);
$arb-primaryDisable: var(--arb-primaryDisable);
$arb-primaryText: var(--arb-primaryText);
$arb-secondaryText: var(--arb-secondaryText);
$arb-tertiaryText: var(--arb-tertiaryText);
$arb-disableText: var(--arb-disableText);
$arb-supportText: var(--arb-supportText);
$arb-primaryCard: var(--arb-primaryCard);
$arb-secondaryCard: var(--arb-secondaryCard);
$arb-outlineColor: var(--arb-outlineColor);
$arb-tabNavBG: var(--arb-tabNavBG);
$arb-primaryBG: var(--arb-primaryBG);
$arb-positiveText: var(--arb-positiveText);
$arb-positiveBG: var(--arb-positiveBG);
$arb-warningText: var(--arb-warningText);
$arb-warningBG: var(--arb-warningBG);
$arb-negativeText: var(--arb-negativeText);
$arb-negativeBg: var(--arb-negativeBg);
$arb-primaryHover: var(--arb-primaryHover);
$arb-secondaryHover: var(--arb-secondaryHover);
$arb-skeleton: var(--arb-skeleton);
$arb-overly: var(--arb-overly);
$arb-alternating: var(--arb-alternating);
$arb-secondaryAlternating: var(--arb-secondaryAlternating);
$arb-supportColor: var(--arb-supportColor);
