<app-transaction-follow *ngIf="loadView"
                        [pageTitle]="pageTitle"
                        [pages]="pages"
                        (onResultChanged)="onResultChange($event)"
                        (onButtonClick)="onButtonClick($event)"
                        [startButtons]="startButtonList"
                        [endButtons]="endButtonList"
                        [summary]="summary"
                        [result]="result"
                        [alert]="alert">

</app-transaction-follow>
