@import "../../../assets/scss/colors";

::ng-deep .modal-content {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  border: none;
  text-align: center;
  padding: 0;
  background-color: $arb-transparent;
}

.modal-title {
  z-index: 100;
}
