<arb-title
  id="accounts-title-id"
  [showArrow]="true"
  [title]="'accounts.online-statement' | translate"
  [endButtons]="pageTitleButtons"
  (onButtonClick)="onTitleButtonsClick($event)"
></arb-title>
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col">
        <div>
          <app-form [forms]="selectAccountControl"></app-form>
        </div>
      </div>
    </div>
    <div class="row gap-2" *ngIf="selectedAccount">
      <arb-line-card
        [id]="'accountDtls-1'"
        [title]="'accounts.balance' | translate"
        subTitle="{{ selectedAccount.availableBalance }} {{
          selectedAccount.currency | model : 'currencyIso'
        }}"
        [rightTitle]="'accounts.uncleared-balance' | translate"
        rightSubTitle="{{ selectedAccount.unclearedBalance }} {{
          selectedAccount.currency | model : 'currencyIso'
        }}"
        weight="Bold"
      ></arb-line-card>
      <arb-line-card
        [id]="'accountDtls-2'"
        [title]="'accounts.custName' | translate"
        [rightTitle]="company.companyName"
        weight="Bold"
      ></arb-line-card>
      <arb-line-card
        [id]="'accountDtls-3'"
        [title]="'accounts.accountNum' | translate"
        [rightTitle]="selectedAccount.fullAccountNumber"
        rightIcon="arb-icon-copy color-arb-primaryColor arb-pointer"
        [rightIconIsCopy]="true"
        (onButtonClick)="onCopyPress($event, selectedAccount.fullAccountNumber)"
        weight="Bold"
      ></arb-line-card>
      <arb-line-card
        [id]="'accountDtls-3'"
        [title]="'accounts.IBAN' | translate"
        [rightTitle]="selectedAccount.ibanNumber"
        rightIcon="arb-icon-copy color-arb-primaryColor arb-pointer"
        [rightIconIsCopy]="true"
        (onButtonClick)="onCopyPress($event, selectedAccount.ibanNumber)"
        weight="Bold"
      ></arb-line-card>
      <arb-line-card
        [id]="'accountDtls-4'"
        [title]="'accounts.currency' | translate"
        [rightTitle]="selectedAccount.currency | model : 'currency'"
        weight="Bold"
      ></arb-line-card>
      <arb-line-card
        [id]="'accountDtls-5'"
        [title]="'accounts.branch' | translate"
        rightTitle="{{ selectedAccount.branchid | model : 'branchRbs5' }}"
        weight="Bold"
      ></arb-line-card>
    </div>
  </div>
  <div class="col-6">
    <app-chart
      [chartData]="lineChartData"
      [chartOptions]="lineChartOptions"
      [showHeader]="true"
      [showChart]="showChart"
    >
      <div class="row">
        <div class="col-8 text-start">
          <p class="font-body-bold mb-0 color-arb-primaryText">
            {{ "accounts.avail-blnc" | translate }}
          </p>
          <p class="mb-0 d-flex gap-2">
            <span class="font-body-regular color-arb-primaryText"
            >{{ "accounts.total-cf" | translate }}:
            </span>
            <arb-amount
              [id]="'test'"
              [size]="'sm'"
              [amount]="(totalCashFlow && totalCashFlow.toString()) || ''"
              [currency]="'608'"
            ></arb-amount>
          </p>
        </div>
        <div class="col-4 my-auto text-end">
          <p class="mb-0">
            <span
              class="arb-icon-chevronLeft arb-icons-ar fs-3 arb-pointer color-arb-primaryColor"
              (click)="selectPeriodType()"
            ></span>
            <span class="font-body-bold color-arb-primaryText">{{
              selectedPeriodType.text | translate
              }}</span>
            <span
              class="arb-icon-chevronRight arb-icons-ar fs-3 arb-pointer color-arb-primaryColor"
              (click)="selectPeriodType()"
            ></span>
          </p>
        </div>
      </div>
    </app-chart>
  </div>
</div>

<div class="pt-2">

  <arb-title
    id="accounts-list-title-id"
    [title]="'accounts.acc-statement' | translate"
    [endButtons]="onlineStatement"
    (onButtonClick)="onDownloadClick()"
  ></arb-title>
  <app-form [forms]="tableForm"></app-form>
</div>
