.accordion {
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: transparent;
  --bs-accordion-border-width: 0;
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-padding-x: 0;
  --bs-accordion-btn-padding-y: 0;
  --bs-accordion-btn-color: transparent;
  --bs-accordion-btn-bg: transparent;
  --bs-accordion-btn-icon: unset;
  --bs-accordion-btn-icon-width: 0;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: unset;
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 0rem;
  --bs-accordion-body-padding-y: 0rem;
  --bs-accordion-active-color: transparent;
  --bs-accordion-active-bg: transparent;

}
::ng-deep{
  .accordion-item {
    background-color:unset;
    margin-bottom: 1rem;
  }
}

