<div class="row" *ngIf="!changePasswordProceeeded">
  <div class="col-12">
    <arb-title
      id="'changePasswordId'"
      [showArrow]="true"
      [title]="'public.changePassword' | translate"
      (onButtonClick)="onTitleButtonClick($event)"
    ></arb-title>
  </div>

  <div class="col-12">
    <app-form
      [form]="changePasswordForm"
      (onResultChanged)="getFormValidity($event)"
    ></app-form>
  </div>

  <div class="row">
    <arb-bottom-buttons
      [startButtons]="startButtons"
      [endButtons]="endButtons"
      (onClick)="onButtonClick($event)"
    ></arb-bottom-buttons>
  </div>
</div>
<div class="row" *ngIf="changePasswordProceeeded">
  <app-result [result]="result"></app-result>
  <arb-bottom-buttons
    [endButtons]="endButtons"
    (onClick)="onButtonClick($event)"
  ></arb-bottom-buttons>
</div>

<arb-table-controls
  *ngIf="result.type == 'Success' && result.summary"
  [showSearch]="true"
  [showFilter]="true"
  [showExportPDF]="true"
></arb-table-controls>
