<div class="col-12">
  <div class="row">
    <arb-title
      type="Page"
      id="TerminalsListTitle"
      [showArrow]="true"
      [title]="'pos.e-commerce.terminal-statement.pos-statement'"
      (onButtonClick)="onTitleButtonClick($event)"
    ></arb-title>
  </div>
  <div class="row">
    <arb-datatable
      id="pos-ecommerce-terminals-list-table"
      [columnId]="'terminalId'"
      [showSearch]="true"
      [showFilter]="true"
      [headers]="headers"
      [hasCheckbox]="true"
      [data]="data"
      [exportFileName]="exportFileName"
      [maxDisplayRow]="50"
      [total]="total"
      [visibleRangeLength]="10"
      [pageSizes]="[10, 20, 50]"
      (onSelectChange)="selectTerminal($event)"
      (onFilterClick)="onFilterClick()"
      [title]="'pos.e-commerce.list-of-terminals.sub-title'"
    >
    </arb-datatable>
  </div>
  <div class="row mt-4">
    <arb-bottom-buttons
      [endButtons]="[combinedFilesButton, posStatementsButton]"
      (onClick)="onEndButtonsClicked($event)"
    ></arb-bottom-buttons>
  </div>
</div>
