//Using max-width ----------------------------------------------------------------

// Small devices (landscape phones, less than 575.98px)
@media (max-width: 35.999rem) {
  .arb-footer-xs {
    position: relative !important;
    margin: auto;
    padding: initial;
  }
}

// Small devices (landscape phones, less than 767.98px)
@media (max-width: 47.999rem) {}

// Medium devices (tablets, less than 991.98px)
@media (max-width: 61.999rem) {}

// Large devices (desktops, less than 1199.98px)
@media (max-width: 74.999rem) {}


.contactusClose{
  position: absolute;
  right: 0;
}
