<section class="arb-login d-flex py-5">
  <div class="container">
    <div class="col-12">
      <div class="row justify-content-md-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 m-auto">
          <div class="p-12">
            <ng-container *ngIf="showStatusScreen">
              <arb-procedure-status
                [title]="'login.loggedSuccess' | translate"
              ></arb-procedure-status>
            </ng-container>
            <ng-container *ngIf="!showStatusScreen">
              <div class="col-12 my-auto">
                <div class="position-relative">
                  <arb-title
                    id="register-title"
                    [title]="'login.resetPsd' | translate"
                    type="Section"
                  ></arb-title>
                  <a
                    href="#"
                    (click)="redirectToLogin()"
                    class="text-decoration-none position-absolute top-0 end-0"
                    ><span class="arb-icon-xLarge fs-3"></span
                  ></a>
                </div>
              </div>
              <div class="col-12">
                <div class="pb-4">
                  <arb-steps
                    [steps]="stepper.steps"
                    [stepText]="stepper.stepText"
                    [stepCounter]="stepper.stepCounter"
                    [ofText]="stepper.ofText"
                  ></arb-steps>
                </div>
              </div>
              <div class="col-12">
                <app-form
                  *ngIf="stepper.stepCounter === 1"
                  [forms]="basicInfoForm"
                  (onResultChanged)="onResultChange($event)"
                ></app-form>
              </div>
              <div class="col-12">
                <app-form
                  *ngIf="stepper.stepCounter === 2"
                  [forms]="challengeQuestionsForm"
                  (onButtonClick)="onForgetAnswers($event.buttonId)"
                  (onResultChanged)="onResultChange($event)"
                ></app-form>
              </div>
              <div class="col-12">
                <app-form
                  *ngIf="stepper.stepCounter === 3"
                  [forms]="credentialsQuestionsForm"
                  (onResultChanged)="onResultChange($event)"
                ></app-form>
              </div>
              <arb-bottom-buttons
                [startButtons]="startButtons"
                [endButtons]="endButtons"
                (onClick)="click($event)"
              ></arb-bottom-buttons>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
